<p id="notice"><%= notice %></p>

<h1>Listing Super Secret Informations</h1>

<table>
  <thead>
    <tr>
      <th>Bank details</th>
      <th>Embarrassing facts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @super_secret_informations.each do |super_secret_information| %>
      <tr>
        <td><%= super_secret_information.bank_details %></td>
        <td><%= super_secret_information.embarrassing_facts %></td>
        <td><%= link_to 'Show', super_secret_information %></td>
        <td><%= link_to 'Edit', edit_super_secret_information_path(super_secret_information) %></td>
        <td><%= link_to 'Destroy', super_secret_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Super secret information', new_super_secret_information_path %>
